
.card-img {
  display: block;
  width:149px; height:88px;
  background-image: url('spritesheet-lg.jpg');
}

.card-img-amethyst
{
background-position: -0px 0px;
}

.card-img-apprentice
{
background-position: -0px -88px;
}

.card-img-bag_of_baubles
{
background-position: -0px -176px;
}

.card-img-barracks
{
background-position: -0px -264px;
}

.card-img-basic_wall
{
background-position: -0px -352px;
}

.card-img-battlements
{
background-position: -0px -440px;
}

.card-img-berserker
{
background-position: -0px -528px;
}

.card-img-big_wall
{
background-position: -0px -616px;
}

.card-img-brick_shortage
{
background-position: -0px -704px;
}

.card-img-collapse
{
background-position: -0px -792px;
}

.card-img-copping_the_tech
{
background-position: -0px -880px;
}

.card-img-corrosion_cloud
{
background-position: -0px -968px;
}

.card-img-crumblestone
{
background-position: -0px -1056px;
}

.card-img-crystallize
{
background-position: -0px -1144px;
}

.card-img-crystal_matrix
{
background-position: -0px -1232px;
}

.card-img-crystal_rocks
{
background-position: -0px -1320px;
}

.card-img-crystal_shield
{
background-position: -0px -1408px;
}

.card-img-diamond
{
background-position: -0px -1496px;
}

.card-img-discord
{
background-position: -0px -1584px;
}

.card-img-dragon
{
background-position: -0px -1672px;
}

.card-img-dragons_eye
{
background-position: -0px -1760px;
}

.card-img-dragons_heart
{
background-position: -0px -1848px;
}

.card-img-dwarven_miners
{
background-position: -0px -1936px;
}

.card-img-dwarves
{
background-position: -0px -2024px;
}

.card-img-earthquake
{
background-position: -0px -2112px;
}

.card-img-elven_archers
{
background-position: -0px -2200px;
}

.card-img-elven_scout
{
background-position: -0px -2288px;
}

.card-img-emerald
{
background-position: -0px -2376px;
}

.card-img-empathy_gem
{
background-position: -0px -2464px;
}

.card-img-faerie
{
background-position: -0px -2552px;
}

.card-img-fire_ruby
{
background-position: -0px -2640px;
}

.card-img-flood_water
{
background-position: -0px -2728px;
}

.card-img-focused_designs
{
background-position: -0px -2816px;
}

.card-img-forced_labor
{
background-position: -0px -2904px;
}

.card-img-foundations
{
background-position: -0px -2992px;
}

.card-img-friendly_terrain
{
background-position: -0px -3080px;
}

.card-img-full_moon
{
background-position: -0px -3168px;
}

.card-img-gem_spear
{
background-position: -0px -3256px;
}

.card-img-gemstone_flaw
{
background-position: -0px -3344px;
}

.card-img-gnome
{
background-position: -0px -3432px;
}

.card-img-goblin_archers
{
background-position: -0px -3520px;
}

.card-img-goblin_mob
{
background-position: -0px -3608px;
}

.card-img-great_wall
{
background-position: -0px -3696px;
}

.card-img-harmonic_ore
{
background-position: -0px -3784px;
}

.card-img-harmonic_vibe
{
background-position: -0px -3872px;
}

.card-img-imp
{
background-position: -0px -3960px;
}

.card-img-innovations
{
background-position: -0px -4048px;
}

.card-img-lava_jewel
{
background-position: -0px -4136px;
}

.card-img-lightning_shard
{
background-position: -0px -4224px;
}

.card-img-little_snakes
{
background-position: -0px -4312px;
}

.card-img-lodestone
{
background-position: -0px -4400px;
}

.card-img-lucky_cache
{
background-position: -0px -4488px;
}

.card-img-mad_cow_disease
{
background-position: -0px -4576px;
}

.card-img-miners
{
background-position: -0px -4664px;
}

.card-img-minotaur
{
background-position: -0px -4752px;
}

.card-img-mondo_wall
{
background-position: -0px -4840px;
}

.card-img-moody_goblins
{
background-position: -0px -4928px;
}

.card-img-mother_lode
{
background-position: -0px -5016px;
}

.card-img-new_equipment
{
background-position: -0px -5104px;
}

.card-img-ogre
{
background-position: -0px -5192px;
}

.card-img-orc
{
background-position: -0px -5280px;
}

.card-img-parity
{
background-position: -0px -5368px;
}

.card-img-pearl_of_wisdom
{
background-position: -0px -5456px;
}

.card-img-pegasus_lancer
{
background-position: -0px -5544px;
}

.card-img-phase_jewel
{
background-position: -0px -5632px;
}

.card-img-porticulus
{
background-position: -0px -5720px;
}

.card-img-power_burn
{
background-position: -0px -5808px;
}

.card-img-prism
{
background-position: -0px -5896px;
}

.card-img-quarrys_help
{
background-position: -0px -5984px;
}

.card-img-quartz
{
background-position: -0px -6072px;
}

.card-img-rabid_sheep
{
background-position: -0px -6160px;
}

.card-img-rainbow
{
background-position: -0px -6248px;
}

.card-img-reinforced_wall
{
background-position: -0px -6336px;
}

.card-img-rock_garden
{
background-position: -0px -6424px;
}

.card-img-rock_launcher
{
background-position: -0px -6512px;
}

.card-img-rock_stompers
{
background-position: -0px -6600px;
}

.card-img-ruby
{
background-position: -0px -6688px;
}

.card-img-sanctuary
{
background-position: -0px -6776px;
}

.card-img-sapphire
{
background-position: -0px -6864px;
}

.card-img-secret_room
{
background-position: -0px -6952px;
}

.card-img-shadow_faerie
{
background-position: -0px -7040px;
}

.card-img-shatterer
{
background-position: -0px -7128px;
}

.card-img-shift
{
background-position: -0px -7216px;
}

.card-img-slasher
{
background-position: -0px -7304px;
}

.card-img-smoky_quartz
{
background-position: -0px -7392px;
}

.card-img-solar_flare
{
background-position: -0px -7480px;
}

.card-img-spearman
{
background-position: -0px -7568px;
}

.card-img-spell_weavers
{
background-position: -0px -7656px;
}

.card-img-spizzer
{
background-position: -0px -7744px;
}

.card-img-stone_giant
{
background-position: -0px -7832px;
}

.card-img-strip_mine
{
background-position: -0px -7920px;
}

.card-img-sturdy_wall
{
background-position: -0px -8008px;
}

.card-img-succubus
{
background-position: -0px -8096px;
}

.card-img-thief
{
background-position: -0px -8184px;
}

.card-img-tower_gremlin
{
background-position: -0px -8272px;
}

.card-img-tremors
{
background-position: -0px -8360px;
}

.card-img-troll_trainer
{
background-position: -0px -8448px;
}

.card-img-unicorn
{
background-position: -0px -8536px;
}

.card-img-vampier
{
background-position: -0px -8624px;
}

.card-img-warlord
{
background-position: -0px -8712px;
}

.card-img-werewolf
{
background-position: -0px -8800px;
}

.card-img-work_overtime
{
background-position: -0px -8888px;
}
