@import './spritesheet-sm';

.card {
  width: 78px;
  &-front, &-back { border-radius: 2px; }
  &-front { padding: 2px; }
  &-img-wrapper { margin-top: 2px; }
  &-title { font-size: .6em; }
  &-desc { font-size: 0.5em; }
  &-cost {
    bottom: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    font-size: .44em;
    line-height: 12px;
  }
}